
.feed-wrap {
    height:100%;
    overflow: auto;
    box-sizing: border-box;
    table {
      width: 100%;
      border: 1px #efefef solid;
      margin: 15px 0;

      tr {
        td, th {
          border: 1px #efefef solid;
          min-height: 30px;
          line-height: 30px;
          padding: 4px 8px;
        }
        th {
          background: #f9f9f9;
        }
      }
    }
  }