.link-active{
  color: #1890ff;
  font-size: 20px;
  font-weight: 500;
}
.anchor-wraper{
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 40%;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px 14px;
    box-sizing: border-box;
};
.init{
    display: none;
}
.show{
    display: block;
    animation: right-to-left linear 0.8s;
}


.hide{
    display: block;
    transform: translateX(100px);
    animation: left-to-right linear 0.3s;
}
.arrow-wraper{
    position: absolute;
    top: 50%;
    transform: translate(-100%,-50%);
    left: 0%;
    font-size: 25px;
    width: 25px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    color: #1890ff;
    cursor: pointer;
}


.link-item{
    font-size: 16px;
    line-height: 40px;
};


@keyframes right-to-left {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes left-to-right {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(100px);
    }
  }