.edit-group-form{
  .row-dragging {
    position: absolute;
    border: 1px solid #ccc;
    z-index: 99999;
    .td {
      padding: 16px;
    }

    .tr {
      padding: 16px;

    }
    .drag-visible {
      visibility: visible;
    }
  }
}

