
  .row-dragging {
    position: relative;
    border: 1px solid #ccc;
    z-index: 99999;
  }
    .row-dragging .td {
      padding: 16px;
    }

    .row-dragging  .tr {
      padding: 16px;
    }
    .row-dragging .drag-visible {
      visibility: visible;
    }

