.grid-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;

    &.grid-wrapper-showPage {
        // padding: 15px;
        box-sizing: border-box;
    }

    .grid-header {
        font-size: 18px;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
    }

    .remove {
        position: absolute;
        z-index: 99999;
        top: 0;
        right: 0;

        span {
            margin-left: 10px;
        }
    }
}